---
import { isError, profile } from "../../api";

export const prerender = false;
const { id } = Astro.params;

if (!id) return Astro.redirect("/", 307);
const prof = await profile(id);
if (isError(prof)) return Astro.redirect("/", 307);
---

<h1>{prof.name}</h1>
{prof.type === "private" && <h2>{prof.email}</h2>}
