---
import "../base.css";

const token = Astro.cookies.get("token")?.value;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <div class="navbar">
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/challenges">challenges</a></li>
        <li><a href="/leaderboard">leaderboard</a></li>
        {
          token ? (
            <>
              <li>
                <a href="/profile/me">profile</a>
              </li>
              <li>
                <a href="/logout">logout</a>
              </li>
            </>
          ) : (
            <>
              <li>
                <a href="/login">login</a>
              </li>
              <li>
                <a href="/register">register</a>
              </li>
            </>
          )
        }
      </ul>
    </div>
    <div class="content">
      <slot />
    </div>
  </body>
</html>
<style>
  .navbar {
    font-family: "Smiley Sans", sans-serif;
    font-size: 1.5rem;
    border-image: url("/border-big-off-white.png") 12 / 8px round;
    border-image-outset: 2px;
    background-color: #f1f1df;
    padding: 1rem;
    margin-bottom: 2rem;

    ul {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
    }

    li {
      list-style: none;
    }

    a {
      color: inherit;
    }
  }
  .content {
    max-width: 90ch;
    margin: auto;
  }
</style>
