---
export const prerender = false;
import { isError, challenges } from "../api";
import Challenge from "../components/Challenge.svelte";
import Layout from "../layouts/Layout.astro";

const challs = await challenges(Astro.cookies.get("token")?.value);
if (isError(challs)) {
  if (challs.error === "invalid_token") return Astro.redirect("/login", 304);
  else return new Response("something went wrong");
}
---

<Layout>
  <div class="challenges">
    {challs.map((c) => <Challenge chall={c} client:idle />)}
  </div>
</Layout>

<style>
  .challenges {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
