---
export const prerender = false;
import { EVENT_START } from "../event";
import { isError, challenges } from "../api";
import Challenge from "../components/Challenge.svelte";
import Countdown from "../components/Countdown.svelte";
import Layout from "../layouts/Layout.astro";

let challs;
if (new Date().getTime() >= EVENT_START.getTime()) {
  challs = await challenges(Astro.cookies.get("token")?.value);
  if (isError(challs)) {
    if (challs.error === "invalid_token") return Astro.redirect("/login", 304);
    else return new Response("something went wrong");
  }
}
---

<Layout>
  {
    challs ? (
      <div class="challenges">
        {challs.map((c) => (
          <Challenge chall={c} client:idle />
        ))}
      </div>
    ) : (
      <Countdown client:idle />
    )
  }
</Layout>

<style>
  .challenges {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
