---
export const prerender = false;
import Layout from "../layouts/Layout.astro";
const START_DATE = "";
---

<Layout>
  <h1 class="title">smileyCTF</h1>
  <div>
    <p>cookedCTF</p>
    <a href="/register">
      <button class="to-register"> Register </button>
    </a>
  </div>
</Layout>

<style>
  .title {
    font-size: 12rem;
    text-align: center;
    font-family: "Smiley Sans";
	line-height: 1;
  }
  .to-register {
    width: 100%;
    margin-top: 1rem;
    font-size: 2rem;
  }
</style>
