---
import Layout from "../layouts/Layout.astro";
import Countdown from "../components/Countdown.svelte";
import { getEvent } from "../api";

const event = await getEvent();
---

<Layout>
  <h1 class="title">smileyCTF</h1>
  <div>
    <Countdown client:idle {event} showHeading={false} />
    <p>cookedCTF</p>
    <a href="/register">
      <button class="to-register"> Register </button>
    </a>
  </div>
</Layout>

<style>
  .title {
    font-size: 12rem;
    text-align: center;
    font-family: "Smiley Sans";
    line-height: 1;
  }
  .to-register {
    width: 100%;
    margin-top: 1rem;
    font-size: 2rem;
  }
</style>
