---
import Layout from "../layouts/Layout.astro";
import Countdown from "../components/Countdown.svelte";
import { getEvent } from "../api";

const event = await getEvent();
const token = Astro.cookies.get("token")?.value;
---

<Layout>
  <h1 class="title">smileyCTF</h1>
  <div>
    <Countdown client:idle {event} showHeading={false} />
    {
      token ? (
        <a href="/profile/me">
          <button class="big-button"> See Your Profile </button>
        </a>
      ) : (
        <a href="/register">
          <button class="big-button"> Register </button>
        </a>
      )
    }
    <div class="description">
      <p>
        Welcome to smileyCTF, the first ever CTF hosted by .;,;. — America's #1
        CTF team*!
      </p>

      <h2>Prizes</h2>
      <ul>
        <li>1st Place - $1024</li>
        <li>2st Place - $512</li>
        <li>3st Place - $256</li>
      </ul>
      <p>
        Additionally, the 1st place team will qualify for
        <a href="https://2025.ctf.mt/">MaltaCTF Finals</a>. MaltaCTF Finals will
        be held in Malta and the qualifying team will be provided partial
        rembursement for a team of 4.
      </p>

      <h2>Rules</h2>
      <ol>
        <li>
          Do not collaborate or share solutions to challenges with other teams.
        </li>
        <li>
          No interfering with other competitors or infrastructure, and keep
          brute forcing to a minimum.
        </li>
        <li>
          Organizers have the final say on whether something is against the
          rules or not. If you think it might be against the rules, it probably
          is.
        </li>
      </ol>

      <h2>Sponsors</h2>
      <p>smileyCTF is only possible thanks to our generous sponsors.</p>
      <div class="sponsors">
        <a href="https://verialabs.com" target="_blank">
          <img src="/sponsors/veria.svg" />
        </a>
        <a href="https://zellic.io" target="_blank">
          <img src="/sponsors/zellic.png" />
        </a>
        <a href="https://osec.io" target="_blank">
          <img src="/sponsors/osec.svg" class="be-normal" />
        </a>
      </div>
      <a href="https://discord.gg/5BRJrRSR6n">
        <button class="big-button">Join Our Discord</button>
      </a>
    </div>
  </div>
</Layout>

<style>
  .title {
    font-size: 9rem;
    text-align: center;
  }

  @media (max-width: 768px) {
    .title {
      font-size: 5rem;
    }
  }

  .sponsors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    & > a {
      border-image: url("/border-big-off-white.png") 12 / 8px round;
      border-image-outset: 2px;
      background-color: #e6e6d2;
      padding: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 160px;

      & > img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
      }

      .be-normal {
        height: 100%;
      }
    }
  }

  .description {
    p,
    li {
      font-family: "Satoshi", sans-serif;
      font-size: 1.25rem;
    }

    p,
    ul,
    ol {
      margin-bottom: 1rem;
    }

    h2 {
      margin-top: 1rem;
      font-size: 3rem;
    }
  }

  .big-button {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  @media (max-width: 768px) {
    .sponsors {
      grid-template-columns: 1fr;
      gap: 1rem;
    }
    .sponsors > a {
      padding-top: 2rem;
      padding-bottom: 2rem;
      padding-left: 4rem;
      padding-right: 4rem;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
  }
</style>
