---
import Layout from "../layouts/Layout.astro";
import Countdown from "../components/Countdown.svelte";
import { getEvent } from "../api";

const event = await getEvent();
---

<Layout>
  <h1 class="title">smileyCTF</h1>
  <div>
    <Countdown client:idle {event} showHeading={false} />
    <div class="description">
      <p>
        Welcome to smileyCTF, The first ever CTF hosted by .;,;. — America's #1
        CTF team*!
      </p>

      <h2>Prizes</h2>
      <ul>
        <li>1st Place - $1024</li>
        <li>2st Place - $512</li>
        <li>3st Place - $256</li>
      </ul>
      <p>
        Additionally, the 1st place team will qualify for
        <a href="https://2025.ctf.mt/">MaltaCTF Finals</a>. MaltaCTF Finals will
        be held in Malta and the qualifying team will be provided partial
        rembursement for a team of 4.
      </p>

      <h2>Rules</h2>
      <ol>
        <li>
          Do not collaborate or share solutions to challenges with other teams.
        </li>
        <li>
          No interfering with other competitors or infrastructure, and keep
          brute forcing to a minimum.
        </li>
        <li>
          Organizers have the final say on whether something is against the
          rules or not. If you think it might be against the rules, it probably
          is.
        </li>
      </ol>
    </div>
    <a href="/register">
      <button class="to-register"> Register </button>
    </a>
  </div>
</Layout>

<style>
  .title {
    font-size: 9rem;
    text-align: center;
  }

  .description {
    p,
    li {
      font-family: "Satoshi", sans-serif;
      font-size: 1.25rem;
    }

    p,
    ul,
    ol {
      margin-bottom: 1rem;
    }

    h2 {
      margin-top: 1rem;
      font-size: 3rem;
    }
  }

  .to-register {
    width: 100%;
    margin-top: 1rem;
    font-size: 2rem;
  }
</style>
