---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="heading">Login</h1>

  <form id="login">
    <label for="token">Token:</label>

    <input type="text" name="token" id="token" placeholder="token" />
    <button type="submit">login</button>
  </form>

  <script>
    import { login, isError } from "../api";
    const loginForm = document.getElementById("login")! as HTMLFormElement;
    loginForm.addEventListener("submit", async (e) => {
      e.preventDefault();
      const formData = new FormData(loginForm);

      const res = await login(formData.get("token") as string);
      if (isError(res))
        return alert(`wuh oh! ${res.message}`); // tell user they messed up
      else window.location.href = `/profile/${res.id}`;
    });
  </script>
</Layout>

<style>
  #login {
    display: flex;
    flex-direction: column;
    input {
      margin-bottom: 1rem;
    }
  }
</style>
