<form id="login">
  <input type="text" name="token" placeholder="token" />
  <button type="submit">login</button>
</form>

<script>
  import { login, isError } from "../api";
  const loginForm = document.getElementById("login")! as HTMLFormElement;
  loginForm.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(loginForm);

    const res = await login(formData.get("token") as string);
    if (isError(res))
      return alert(`wuh oh! ${res.message}`); // tell user they messed up
    else window.location.href = `/profile/${res.id}`;
  });
</script>
