---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="heading">Register</h1>
  <form id="register">
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" placeholder="email" />
    <label for="email">Team Name:</label>
    <input type="text" name="name" id="name" placeholder="team name" />
    <button type="submit">register</button>
  </form>

  <script>
    import { register, isError } from "../api";
    const registerForm = document.getElementById(
      "register"
    )! as HTMLFormElement;
    registerForm.addEventListener("submit", async (e) => {
      e.preventDefault();
      const formData = new FormData(registerForm);

      const res = await register(
        formData.get("email") as string,
        formData.get("name") as string
      );
      if (isError(res))
        return alert(`wuh oh! ${res.message}`); // tell user they messed up
      else window.location.href = `/profile/${res.id}`;
    });
  </script>
</Layout>

<style>
  #register {
    display: flex;
    flex-direction: column;
    
    input {
      margin-bottom: 1rem;
    }
  }
</style>
