@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}


.theme-light {
  --bg-primary: oklch(1 0 0);
  --bg-secondary: oklch(0.9731 0.0041 91.45);

  --text-primary: oklch(0.3289 0.0107 91.66);


  --bg-accent: oklch(0.9514 0.0085 308.36);
  --text-accent: oklch(0.5814 0.1203 309.5);

  /* For neutral elements */
  --bg-neutral: oklch(0.9514 0.0027 106.45);
  --text-neutral: oklch(0.5692 0.0047 91.48);

  --bg-success: oklch(0.9514 0.0269 141.26);
  --text-success: oklch(0.5579 0.0848 158.39);

  --bg-error: oklch(0.9546 0.0196 13.63);
  --text-error: oklch(0.6015 0.1724 25.79);
}

html {
  font-family: "Libre Franklin", sans-serif;
  color: var(--text-primary);
  background: var(--bg-primary);
}

.content-container {
  max-width: 50rem;
  margin: auto;
  margin-bottom: 8rem;
  padding: 1rem;
}

button {
  border-radius: 0;
  border: none;
  background: var(--text-primary);
  color: var(--bg-primary);
  padding: 0.15rem 0.5rem;
  cursor: pointer;
}

button:disabled {
  background: color-mix(in oklab, var(--text-primary) 70%, transparent);
  cursor: not-allowed
}

input {
  border-radius: 0;
  border: 1px solid var(--text-primary);
  background: var(--bg-neutral);
  padding: 0.15rem 0.5rem;
}

input:focus {
  outline: none;
  background: var(--bg-primary);
}

a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer;
}