/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* the other stuff begins here */

@font-face {
  font-family: "Smiley Sans";
  src: url("/fonts/SmileySans.otf") format("opentype"),
  url("/fonts/SmileySans.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/Satoshi-Variable.woff") format("woff"),
    url("/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

html {
  font-family: "Satoshi", sans-serif;
}

input {
  border-image: url("/border-big.png") 12 / 8px round;
  border-image-outset: 2px;
  padding: 0.5rem;
  background-color: #F8F8F1;
}

label {
    font-family: "Smiley Sans", sans-serif;
}

button {
  font-family: "Smiley Sans", sans-serif;
  border-image: url("/border-big.png") 12 / 8px round;
  border-image-outset: 2px;
  background-color: black;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.heading {
  font-family: "Smiley Sans", sans-serif;
  font-size: 4rem;
  text-align: center;
  -webkit-font-smoothing: none;
}

body {
    background-color: #F8F8F1
}